.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.about-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-text p {
  color: #282727;
}
